@using Microsoft.AspNet.Identity
@if (User.IsInRole("Admin"))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("User", "Index", "Users")</li>
        <li>@Html.ActionLink("Buku", "Index", "Buku")</li>
        <li>@Html.ActionLink("Kategori Buku", "Index", "Kategori")</li>
        <li>@Html.ActionLink("Pengembalian Buku", "", "")</li>      
        <li>@Html.ActionLink("Ganti Password", "", "")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "", "", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("Log off", "LogOff", "Login", routeValues: null,
                htmlAttributes: new {title = "Log off"})
        </li>
    </ul>
}
else if (User.IsInRole("Staff"))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>     
        <li>@Html.ActionLink("Pengembalian Buku", "", "")</li>
        <li>@Html.ActionLink("Ganti Password", "", "")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
           @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "", "",
          routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("Log off", "LogOff", "Login", routeValues: null,
                htmlAttributes: new { title = "Log off" })
        </li>
    </ul>
}
else if (User.IsInRole("General"))
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Daftar Peminjaman Buku", "", "")</li>
        <li>@Html.ActionLink("Daftar Buku", "", "")</li>
        <li>@Html.ActionLink("Ganti Password", "", "")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "", "", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>
            @Html.ActionLink("Log off", "LogOff", "Login", routeValues: null,
                htmlAttributes: new { title = "Log off" })
        </li>
    </ul>
}